{% extends 'base.html'%}

{% block content %}
<form>
    <p>
        <label>Title</label>
        <input type="text" name="title">
    </p>
    <p>
        <label for="content">Content</label>
        <textarea id = "content" name="content" rows="4" cols="20"></textarea>
    </p>
    {%for tag in tags%}
        <input type="checkbox" name = "tag-{{tag.id}}">
        <label>{{tag.name}}</label><br>
    {%endfor%}
    <a href="/users">Cancel</a>
    <button type="submit">Add</button>
</form>
{% endblock%}